<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <form action="/" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <p>Your Name:</p>
        <input type="text" name="survey[name]">
        <p>Dojo Location:</p>
        <select name="survey[location]">
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Dallas">Dallas</option>
            <option value="Washington D.C">Washington D.C.</option>
            <option value="Chicago">Chicago</option>
            <option value="Tulsa">Tulsa</option>
        </select>
        <p>Favorite Language:</p>
        <select name="survey[language]">
            <option value="C#">C#</option>
            <option value="Ruby">Ruby</option>
            <option value="Python">Python</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Java">Java</option>
            <option valie="Swift">Swift</option>
        </select>
        <p>Comment (optional):</p>
        <textarea name="survey[comment]"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>